# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
\node_modules
/.pnp
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/versions

/coverage
/.next/
/out/
/build
/.vercel
/*.tsbuildinfo
/next-env.d.ts
/.env*
/credentials.json

# -------------------
# General / Misc
# -------------------
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Uploaded resumes (local storage)
public/uploads
