-- Insert new application statuses into the status table
-- Public statuses (visible to applicants in their tracker)
INSERT INTO status (status_id, status) VALUES
(8, 'applied'),
(9, 'interview_scheduled'),
(10, 'offer_sent'),
(11, 'offer_accepted'),
(12, 'offer_declined'),

-- Private statuses (only visible to companies for internal tracking)
(13, 'shortlisted'),
(14, 'on_hold');

CREATE TABLE applications (
  application_id INT PRIMARY KEY AUTO_INCREMENT,
  
  -- Foreign Keys
  user_id INT NOT NULL,
  job_post_id CHAR(21) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  
  -- Application Status (references status table)
  application_status_id INT NOT NULL DEFAULT 8,
  
  -- Company Status (private)
  company_status_id INT NOT NULL DEFAULT 8,
  
  -- Application Details
  applied_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  last_update DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  
  -- Interview Details
  interview_date DATETIME NULL,
  interview_type ENUM('virtual', 'in-person') NULL,
  interview_link VARCHAR(500) NULL,
  interview_code VARCHAR(100) NULL,
  interview_notes TEXT NULL,
  
  -- Offer Details
  offer_sent_date DATETIME NULL,
  offer_deadline DATETIME NULL,
  offer_response_date DATETIME NULL,
  
  -- Additional Information
  resume_path VARCHAR(500) NULL,
  rejection_reason TEXT NULL,
  
  -- Company Notes
  company_notes TEXT NULL,
  
  -- Timestamps
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  
  -- Foreign Key Constraints
  CONSTRAINT fk_applications_user
    FOREIGN KEY (user_id) 
    REFERENCES user(user_id)
    ON DELETE CASCADE
    ON UPDATE CASCADE,
    
  CONSTRAINT fk_applications_job_post
    FOREIGN KEY (job_post_id)
    REFERENCES job_posts(job_post_id)
    ON DELETE CASCADE
    ON UPDATE CASCADE,
    
  CONSTRAINT fk_applications_status
    FOREIGN KEY (application_status_id)
    REFERENCES status(status_id)
    ON DELETE RESTRICT
    ON UPDATE CASCADE,
    
  CONSTRAINT fk_applications_company_status
    FOREIGN KEY (company_status_id)
    REFERENCES status(status_id)
    ON DELETE RESTRICT
    ON UPDATE CASCADE,
  
  -- Indexes for Performance
  INDEX idx_user_applications (user_id, applied_date DESC),
  INDEX idx_job_post_applications (job_post_id, applied_date DESC),
  INDEX idx_application_status (application_status_id),
  INDEX idx_company_status (company_status_id),
  INDEX idx_interview_date (interview_date),
  INDEX idx_offer_deadline (offer_deadline),
  
  -- Unique Constraint (prevent duplicate applications)
  UNIQUE KEY unique_user_job_application (user_id, job_post_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
